<ul class="nav nav-tabs">
  <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a  routerLink="/">Home</a></li>
  <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a routerLink="/products">Products</a></li>
  <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a routerLink="/product-table">Product Table</a></li>
  <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a routerLink="/customers">Customers</a></li>
</ul>
